* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 20% 1fr;
}

// Import partials
@import "./partials/variables";
@import "./partials/sidebar";
@import "./partials/main";
