* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body,
#root,
#root:first-child {
  height: 100%;
}

.btn-toggle-timer {
  position: absolute;
  left: 20px;
  top: 25px;
  background: #fff;
  border-radius: 7px;
  z-index: 999;
  transition: all 0.4s ease;
  cursor: pointer;
}

.fixed {
  position: fixed;
}

// Import partials
@import "./partials/variables";
@import "./partials/header";
@import "./partials/main";
@import "./partials/timer";
