header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background: rgb(41, 77, 88);
  height: 35%;
  @media screen and (max-width: 430px) {
    height: 60%;
  }
  .title {
    font-size: 42pt;
    color: #eee;
    @media screen and (max-width: 430px) {
      font-size: 30pt;
    }
  }
  #add-todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input {
      margin: 0 auto;
      width: 55%;
      padding: 10px;
      border: 2px solid rgb(105, 105, 105);
      color: #aaa;
      font-size: 16pt;
      background: none;
      transition: all 0.5s ease;
      transition-property: color, box-shadow, border-color;
      &:hover {
        box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.05);
      }
      &:focus {
        color: #ddd;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
        border-color: #ccc;
      }
      @media screen and (max-width: 430px) {
        font-size: 13pt;
        width: 75%;
      }
    }
  }
}
