main {
  padding: 10px;
  overflow-y: auto;
  .todos {
    background: $secondary;
    width: 80%;
  }
  .btn-new-task {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    background-color: $primary;
    border-radius: 50%;
    padding: 5px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .btn-new-task.rotated {
    transform: rotate(45deg);
  }
  .todo-form {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $secondary;
    transform: translateY(25%);
    opacity: 0;
    transition: all 0.5s linear;
    transition-property: transform, opacity;
    form {
      margin-top: 70px;
      width: 50%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      input {
        width: 100%;
        padding: 10px;
        font-size: 12pt;
        background: none;
        border: 1.5px solid $primary;
        color: $primary;
        transition: all 0.3s ease-in;
        transition-property: border-color, box-shadow;
        &:hover {
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        }
        &:focus {
          border-color: transparent;
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
    @media screen and (max-width: $mobile) {
      form {
        width: 75%;
      }
    }
  }
  .todo-form-enter,
  .todo-form-exit-done {
    transform: translateY(10%);
    opacity: 0;
  }
  .todo-form-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s linear;
    transition-property: transform, opacity;
  }
  .todo-form-exit-active {
    transform: translateY(5%);
    opacity: 0;
    transition: all 0.5s linear;
    transition-property: transform, opacity;
  }
  .todo-form-enter-done,
  .todo-form-exit {
    opacity: 1;
    transform: translateY(0);
  }
}
