main {
  width: 100%;
  margin: 0 auto;
  .no-todos-message {
    text-align: center;
    font-size: 36pt;
    margin-top: 12%;
    transform: translateY(-50%);
    @media screen and (max-width: 700px) {
      font-size: 32pt;
      margin-top: 20%;
    }
    @media screen and (max-width: 430px) {
      font-size: 20pt;
      margin-top: 50%;
    }
  }
  .todos {
    width: 50%;
    margin: 30px auto;
    .todo {
      @include todo-mixin;
    }
    .todo-completed {
      cursor: default;
      h3 {
        text-decoration: line-through;
        opacity: 0.6;
      }
    }
  }
}

.todo,
.todo-dragging {
  @include todo-mixin;
}

.todo-dragging {
  background: rgba(0, 0, 0, 0.1);
}
