@mixin todo-mixin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
  .btn-todo-drag {
    cursor: grab;
  }
  .inner-block {
    display: flex;
    justify-content: center;
    width: 85%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px 5px;
    font-size: larger;
    transition: box-shadow 0.7s ease, border 0.7s ease, transform 0s ease;
    h3 {
      max-width: 90%;
      word-wrap: break-word;
      text-align: center;
      a {
        text-decoration: none;
        color: #000;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s ease;
        &:hover {
          border-bottom-color: #000;
        }
      }
    }
  }
  .trashbin {
    cursor: pointer;
  }
  &:not(.todo-completed) {
    .inner-block:hover {
      box-shadow: 5px 3px 20px 10px rgba(0, 0, 0, 0.1);
      border-color: transparent;
    }
  }
  @media screen and (max-width: 500px) {
    .btn-todo-drag,
    .trashbin {
      width: 36px;
    }
    .inner-block {
      width: 70%;
      h3 {
        font-size: 14pt;
      }
    }
  }
}

@mixin todo-completed {
  cursor: default;
  h3 {
    text-decoration: line-through;
    opacity: 0.6;
  }
}
