@mixin todo-mixin {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 5px;
  margin-top: 10px;
  font-size: larger;
  margin: 40px 0;
  transition: box-shadow 0.7s ease, border 0.7s ease, transform 0s ease;
  &:not(.todo-completed):hover {
    box-shadow: 5px 3px 20px 10px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }
  .btn-todo-drag {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
  }
  .trashbin {
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  h3 {
    max-width: 90%;
    word-wrap: break-word;
    cursor: pointer;
    @media screen and (max-width: 430px) {
      font-size: 14pt;
    }
  }
}

@mixin todo-completed {
  cursor: default;
  h3 {
    text-decoration: line-through;
    opacity: 0.6;
  }
}
